<div class="loginDiv" *ngIf="( auth.user | async) as obs; else login">{{obs.email}} - {{obs.uid}} - {{obs.displayName}}
  <ng-container *ngIf="dbApp.altaUser == false else listaCompra"></ng-container>
  <br/><br/>
  <button class="btn btn-secondary" (click)="auth.logout()"><i class="fas fa-sign-out-alt"></i> OUT</button>
  <br/><br/>
  <br/><br/>
  <ng-container *ngIf="auth.googleAuth == true || auth.emailAuth== true">
    <button class="btn btn-success" (click)="dbApp.altausuario(obs.email, obs.uid)"><i class="fas fa-check"></i>
      AltaUsuario
    </button>
  </ng-container>
  <button class="btn btn-danger" (click)="dbApp.bajausuario(obs.uid)"><i class="far fa-trash-alt"></i> BAJA</button>
  <br/><br/>
</div>
<ng-template #listaCompra>
  <app-shoppinglist></app-shoppinglist>
</ng-template>


<ng-template #login>
  <div class="loginDiv">
    <br/><br/>
    <span class="fas fa-user"></span>
    <input type="text" name="email" placeholder="Escribe tu email." [(ngModel)]="auth.email">
    <br/><br/>
    <span class="fas fa-key"></span>
    <input type="password" name="password" placeholder="Escribe tu contraseña." [(ngModel)]="auth.pass">
    <br/><br/>
    <button class="btn btn-primary" (click)="auth.login()">
      <i class="far fa-envelope"></i>
      Email Login
    </button>
    <br/><br/>
    <button class="btn btn-danger" (click)="auth.glogin()">
      <i class="fab fa-google"></i>
      Google Login
    </button>
  </div>
</ng-template>
